body {
    text-align: center;
    margin-top: 50px;
}

form {
    display: inline-block;
    margin-top: 20px;
    background-color:palevioletred;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    color: blueviolet;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

