<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Student Form</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Student Form</h1>
        <form action="/result" method="POST">
            <label for="StudentName">Student Name:</label>
            <input type="text" id="StudentName" name="StudentName" required>
            
            <label for="StudentID">Student ID:</label>
            <input type="number" id="StudentID" name="StudentID" required>
            
            <button type="submit">Submit</button>
        </form>
    </body>

    
</html>

